*.l#*
*.b#*
*.s#*
**/build/*
**/dist/*
*exports*
resources/Thumbs.db
Release
*.err
*.FCStd1
hardware/eagle files/NitroxAnalyzer - Copie.brd
hardware/images/Thumbs.db
softwareandroid/NitroxAnalyzer/.gradle/
software/android/NitroxAnalyzer/.idea/
software/firmware/NitroxAnalyzer/NitroxAnalyser.v12.suo
software/firmware/NitroxAnalyzer/NitroxAnalyzer.opensdf
software/firmware/NitroxAnalyzer/NitroxAnalyzer.sdf
software/firmware/NitroxAnalyzer/NitroxAnalyzer.sln
software/firmware/NitroxAnalyzer/ipch
software/firmware/NitroxAnalyzer/Debug
software/firmware/NitroxAnalyzer/Visual Micro
software/firmware/NitroxAnalyzer/NitroxAnalyzer.v12.suo
software/firmware/NitroxAnalyzer/NitroxAnalyzer.vcxproj
software/firmware/NitroxAnalyzer/NitroxAnalyzer.vcxproj.filter
