*.l#*
*.b#*
*.s#*
**/build/*
**/dist/*
*exports*
resources/Thumbs.db
Release
*.err
*.FCStd1
hardware/eagle files/NitroxAnalyzer - Copie.brd
hardware/images/Thumbs.db
software/android/NitroxAnalyzer/.gradle/
software/android/NitroxAnalyzer/.idea/
software/firmware/NitroxAnalyzer/NitroxAnalyser.v12.suo
software/firmware/NitroxAnalyzer/NitroxAnalyzer.opensdf
software/firmware/NitroxAnalyzer/NitroxAnalyzer.sdf
software/firmware/NitroxAnalyzer/NitroxAnalyzer.sln
software/firmware/NitroxAnalyzer/ipch
software/firmware/NitroxAnalyzer/Debug
software/firmware/NitroxAnalyzer/Visual Micro
software/firmware/NitroxAnalyzer/NitroxAnalyzer.v12.suo
software/firmware/NitroxAnalyzer/NitroxAnalyzer.vcxproj
software/firmware/NitroxAnalyzer/NitroxAnalyzer.vcxproj.filter
software/firmware/NitroxAnalyzer/NitroxAnalyzer.aps
software/firmware/NitroxAnalyzer/.vs/NitroxAnalyzer/v14/.suo
software/firmware/NitroxAnalyzer/__vm/.NitroxAnalyzer.vsarduino.h
software/firmware/NitroxAnalyzer/__vm/Compile.vmps.xml
software/firmware/NitroxAnalyzer/__vm/Configuration.Debug.vmps.xml
software/firmware/NitroxAnalyzer/__vm/Configuration.Release.vmps.xml
software/firmware/NitroxAnalyzer/__vm/Upload.vmps.xml
software/firmware/NitroxAnalyzer/bitmap1.bmp
software/firmware/NitroxAnalyzer/NitroxAnalyzer.rc
software/firmware/NitroxAnalyzer/NitroxAnalyzer.VC.db
software/firmware/NitroxAnalyzer/NitroxAnalyzer.vcxproj.filters
software/firmware/NitroxAnalyzer/NitroxAnalyzer.vcxproj.filters
